@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

*{
    box-sizing: border-box;
}

body{
	font-family: 'Lato', sans-serif;
    margin: 0px;
}

.lato{
    font-family: 'Lato', sans-serif;
}

a{
    color: #363636;
    text-decoration: none;
}

.custom-wrapper a{
    color: #333;
}

.capture-icon{
	margin: 5px 10px -5px 10px;
    height: 18px;
}

.white-btn{
    background-color: #FFF;
    border: 1px solid #ccc;
    height: 40px;
    border-radius: 20px;
    width: auto;
    padding: 5px 48px;
    outline: none;
    margin: 0px 10px;
}

.blue-btn{
    background-color: rgba(22, 155, 213, 1);
    color: #FFF;
    border: 1px solid #ccc;
    height: 40px;
    border-radius: 20px;
    width: auto;
    padding: 5px 48px;
    outline: none;
    margin: 0px 10px;
}

.capture-img-container{
	margin: 10px auto;
    width: 130px;
}

.capture-btn{
	width: 88px;
    height: 34px;
    border-radius: 5px;
    background: white;
    border-style: groove;
    outline: none;
}

.webcam-container{
	margin: 10px 0px;
}

.header{
	font-size: 22px;
    position: fixed;
    width: 100%;
	color: #FFF;
    background: #3892ff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,#3892ff  , #81c0ff); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,#3892ff  , #81c0ff); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,#3892ff  , #81c0ff); /*Fx 3.6-15*/
    background: linear-gradient(to right, #3892ff  , #81c0ff); /*Standard*/
    height: 60px;
    padding: 0px 15px;
	font-weight: 700;
    align-items: center;
	display: flex;
}

.footer{
	height: 56px;
    width: 100%;
    position:fixed;
    bottom: 0px;
    font-size: 10px;
    color: #FFF;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

.custom-wrapper{
    position: fixed;
    top: 60px;
    bottom: 0px;
    overflow: auto;
    width: 100%;
    background: #f8f8f8;
    padding: 25px 45px;
    display: flex;
}

.ad-main-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
}

.ad-Nav {
    flex: 0 1 auto;
    width: 90px;
    display: flex;
    flex-flow: column nowrap;
}

.ad-nav-link {
    flex: 0 1 auto;
    height: 90px;
    line-height: 90px;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 20px;
    background-color: #ffffff;
    letter-spacing: 0.4;
    font-size: 12px;
    font-weight: bold;
}

.drop-shadow {
    box-shadow: 0px 6px 10px #dedede;
}

.drop-shadow.minimal {
    box-shadow: 0px 2px 4px #dedede;
}

.ad-nav-link.activated {
    background-color: #3892ff;
    color: #ffffff;
}

.ad-content-container {
    flex: 1;
    padding-left: 25px;
}

.ad-graphs {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 24px;
}

.master-plot {
    width: 100%;
    height: 530px;
    border-radius: 6px;
    background-color: #ffffff;
    margin-bottom: 40px;
}

.master-plot.card .title-text {
    padding: 0px;
    margin: 20px 25px;
}

.quick-glance {
    flex: 1 1 auto;
    height: 196px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.quick-glance .card {
    width: calc(100%/3);
    flex: 0 1 auto;
    height: 100%;
    border-radius: 6px;
    margin-left: 40px;    
    background-color: #ffffff;
}

.quick-glance .card:nth-child(1) {
    margin-left: 0px;
}

.card.aligned-center .title-text {
    text-align: center;
}


.card .title-text {
    font-size: 26px;
    letter-spacing: 0.87;
    margin: 20px 25px; 
}

.card .title-text {
    margin: auto;
    padding-top: 30px;
    font-size: 24px;
    margin-bottom: 26px;
    text-align: left;
    font-family: 'Lato';
}

.card .ad-count {
    color: #3892ff;
    font-size: 62px;
    font-weight: 300;
    text-align: center;
}

.recent-stats {
    height: 577px;
    margin-bottom: 40px;
    border-radius: 6px;
    background-color: #ffffff;
}

.overall-graph {
    height: 398px;
    margin-bottom: 50px;
    border-radius: 6px;
    background-color: #ffffff;
}

.search-icon{
    height: 20px;
}

.logo-icon{
    height: 28px;
    margin: 0px 22px 0px 0px;
}

.left-float{
	float:left;
}

.right-float{
	float:right;
}

.cleardiv{
	clear: both;
}

.menu-container{
	width: 50%;
    font-size: 30px;
}

.search-container{

    width: 50%;
    text-align: right;
    margin-top: 6px;
}

.footer-menu{
	width: 20%;
	text-align: center;
}

div.footer-menu:nth-child(3) {
    position: relative;
    bottom: 20px;
}

div.footer-menu:nth-child(3) div{
    margin: 0 auto;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    box-shadow: 0px 3px 5px #542828;
    background: #3892ff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(bottom,#3892ff  , #81c0ff); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#3892ff  , #81c0ff); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#3892ff  , #81c0ff); /*Fx 3.6-15*/
    background: linear-gradient(to top, #3892ff  , #81c0ff); /*Standard*/
}

div.footer-menu:nth-child(3) div img{
    margin-top: 15px;
    margin-bottom: 0px;
}

.footer-menu .menu-icon{
    margin-bottom: 3px;
}

.footer-menu .capture-icon{
	padding: 4px;
    margin: 5px 10px 0px 10px;
    height: 24px;
}

a.active{
    color: #419AFF;
}

.spinner-container{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    display: none;
    background-color: #fbfbfb;
    opacity: 1;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3c3c3c;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn-container{
    padding: 20px;
    margin: 0px;
    text-align: center;
}

.video-container{

}

.product-details-container{
    padding: 20px;
}

label{
    font-size: 13px;
}

input, textarea{
    margin: 8px 4px 20px 0px;
    border: 1px solid #ccc;
    padding: 8px 10px;
    font-size: 12px;
}

.product-details-container span{
    font-size: 12px;
    margin-right: 14px;
}

.align-right{
    text-align: right;
}

.align-center{
    text-align: center;
    padding: 20px 0px;
}

input[type="text"], textarea {
    width: 90%;
}

.details-container .left-float{
    width: 30%;
}

.categories-container{
    padding: 20px;
}

.categories-container .categories{

}

.categories-container .sub-categories{
    
}

.categories-container .categories-wrapper {
    float: left;
    width: 200px;
    padding: 10px;
    border: 1px solid #3c3c3c;
    margin: 0px 10px 10px 0px;
    text-align: center;
    cursor: pointer;
}

.categories-container .active {
    float: left;
    width: 200px;
    padding: 10px;
    border: 1px solid #3892ff;
    margin: 0px 10px 10px 0px;
    text-align: center;
    color: #3892ff;
}

.categories-container .cat-container {
    text-align: center;
}

.product-details-container .amt-container span{
    font-size: 16px;
    font-weight: 700;
}

.product-details-container .amt-container{
    padding: 20px 0px;
}

.home-page{
    width: 90%;
    padding: 20px;
    margin: 0px auto;
}

.home-page video{
    width: 100%;
}

.home-page label{
    font-size: 18px;
    margin-right: 60px;
    color: #262626;
    font-weight: 100;
    margin-left: 8px;
}

.home-page p{
    font-size: 28px;
    margin: 10px 0px;
    color: #363636;
    font-weight: 100;
}

.review-container{
    font-size: 14px;
}

.review-container label{
    font-size: 14px;
    font-weight: 700;
}

.review-container div{
    padding: 5px 0;
}